<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.UserDao">

	<select id="findAll" resultType="com.bw.entity.User">
		select * from user
	</select>
	
	<delete id="delete">
		delete from user where uid in
		<foreach collection="array" open="(" close=")" separator="," item="uid">
			#{uid}
		</foreach>
	</delete>
	
	<insert id="save" parameterType="com.bw.entity.User">
		insert into user
		(username,password)
		values
		(#{username},#{password})
	</insert>

</mapper>